:root {

/* colors */
--yellow: #f4d04e;
--gray-950: #111111;
--gray-500: #6b6b6b;
--white: #ffffff;

/* typography */

/* text preset 1 */
--text-preset-1-font-size: 24px;
--text-preset-1-font-weight: 800;
--text-preset-1-line-height: 150%;
--text-preset-1-letter-spacing: 0px;

/* text preset 2 */
--text-preset-2-font-size: 16px;
--text-preset-2-font-weight: 500;
--text-preset-2-line-height: 150%;
--text-preset-2-letter-spacing: 0px;

/* text preset 3 */
--text-preset-3-font-size: 14px;
--text-preset-3-font-weight: 500;
--text-preset-3-line-height: 150%;
--text-preset-3-letter-spacing: 0px;

/* text preset 3 (bold) */
--text-preset-3b-font-size: 14px;
--text-preset-3b-font-weight: 800;
--text-preset-3b-line-height: 150%;
--text-preset-3b-letter-spacing: 0px;

}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Figtree", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color: var(--yellow);
}

.card {
    width: 384px;
    height: 522px;
    padding: 24px;
    background-color: var(--white);
    border: 1px solid var(--gray-950);

    border-radius: 20px;
    box-shadow: 8px 8px 0 var(--gray-950);
}

.card__category, .card__footer {
    margin-top: 24px;
}

.card__date, .card__title, .card__body {
    margin-top: 12px;
}

.card__img {
    display: block;
    border-radius: 10px;
}

.card__category {
    max-width: 82px;
    padding: 4px 12px;
    background-color: var(--yellow);

    color: var(--gray-950);
    font-size: var(--text-preset-3b-font-size);
    font-weight: var(--text-preset-3b-font-weight);
    line-height: var(--text-preset-3b-line-height);
    letter-spacing: var(--text-preset-3b-letter-spacing);

    border-radius: 4px;
}

.card__date {
    color: var(--gray-950);
    font-size: var(--text-preset-3-font-size);
    font-weight: var(--text-preset-3-font-weight);
    line-height: var(--text-preset-3-line-height);
    letter-spacing: var(--text-preset-3-letter-spacing);
}

.card__title {
    color: var(--gray-950);
    font-size: var(--text-preset-1-font-size);
    font-weight: var(--text-preset-1-font-weight);
    line-height: var(--text-preset-1-line-height);
    letter-spacing: var(--text-preset-1-letter-spacing);
}

.card__body {
    color: var(--gray-500);
    font-size: var(--text-preset-2-font-size);
    font-weight: var(--text-preset-2-font-weight);
    line-height: var(--text-preset-2-line-height);
    letter-spacing: var(--text-preset-2-letter-spacing);
}

.card__footer {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
}

.card__author {
    color: var(--gray-950);
    font-size: var(--text-preset-3b-font-size);
    font-weight: var(--text-preset-3b-font-weight);
    line-height: var(--text-preset-3b-line-height);
    letter-spacing: var(--text-preset-3b-letter-spacing);
}

.card__footer, .card__avatar {
    height: 32px;
}